<body>
  body{background-color: black;}

h1{text-align: center;}

table{width: 100%; }
th,td,tr {text-align: center;border: 5px solid  grey ;

}
th,td,{style color: blue; }



h1{text-align: center;}
</body>